/* body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
}

h1, h2 {
  color: #007b5e;
}

input, button {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

button {
  background-color: #007b5e;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005b46;
}

#animals-list {
  list-style-type: none;
  padding: 0;
}

#animals-list li {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

#animals-list li button {
  margin-top: 5px;
} */

.img-small {
  max-width: 100px;
  height: auto;
}