<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/head') %>
</head>
<body>
    <%- include(''common/header') %>
    <main>
        <h1>Bem-vindo à Página Inicial</h1>
        <!-- Conteúdo da página principal -->
    </main>
</body>
</html>